* {
  margin: 0;
  padding: 0;
}

#Enemy {
  min-height: 100vh; /* Allows the footer to exist in the proper place */
  width: 100%;
  border: red solid 1px;
}
#EnemyName {
  width: 90%;
  margin: 10px;
}

/* Hit Point Container */
#EnemyHitPoint {
  width: 90%;
  height: 20px;
  padding: 5px;
  background: #ddd;
  border-radius: 5px;
  transition: width .5s linear;
  margin: 10px;
}
#EnemyHitPoint-bar {
  background: #c54;
  height: 20px;
  position: relative;
  transition: width .5s linear;
}

#enemyPortrait {
  min-width: 200px;
  min-height: 300px;
  max-width: 200px;
  max-height: 300px;
  border-radius: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#enemyPortrait {

}
