* {
  margin: 0;
  padding: 0;
}

#Enemy {
  min-height: 100vh; /* Allows the footer to exist in the proper place */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  vertical-align: middle;
  text-align: center;
  border: red solid 1px;
}
#Title {
  width: 100%;
}
#Stats {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  vertical-align: middle;
}
  #hp {
    margin: 10px;
  }
  #turn {
    margin: 10px;
  }
#Controls {
  width: 100%;
}
