* {
  margin: 0;
  padding: 0;
}

#Log {
  min-height: 100vh; /* Allows the footer to exist in the proper place */
  width: 100%;
  justify-content: space-around;
  vertical-align: middle;
  text-align: center;
  background-image: url('../../images/brick01.jpg');
}
#backdropBorder {
  min-height: 100vh;
  width: 80%;
  margin: auto;
  border: 10px white solid;
  border-radius: 100px;
  background-image: url('../../images/parchment01.jpg');
  background-size: 100% 120%;
  background-repeat: no-repeat;
  background-position: center;
}
#backdrop {
  min-height: 100vh;
  background-image: url('../../images/runicBorder.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#Title {
  padding-top: 25px;
  width: 100%;
  font-size: 1.8em;
}
#TurnCounter {
  padding-top: 5px;
  width: 100%;
  font-size: 1.2em;
}
#LogDisplay {
  padding-top: 10px;
  font-size: 0.8em;
}
