* {
  margin: 0;
  padding: 0;
}

/* Color Palette provided to all other .css */
:root {
  --1: #5B5B5B;
  --2: #7D7C7A;
  --3: #C9C19F;
  --4: #F9F8F8;
  --5: #C0D6DF;
}

#BattleWindow {
  margin-top: 25px;
  min-height: 100vh; /* Allows the footer to exist in the proper place */
  width: 100%;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  text-align: center;
  border: red solid 1px;
}
#LeftWindow {
  flex-grow: 2;
  min-width: 300px;
  border: blue solid 1px;
}
#CenterWindow {
  flex-grow: 1;
  min-width: 200px;
  border: yellow solid 1px;
}
#RightWindow {
  flex-grow: 2;
  min-width: 300px;
  border: green solid 1px;
}
