* {
  margin: 0;
  padding: 0;
}

/* Color Palette provided to all other .css */
:root {
  --1: #5B5B5B;
  --2: #7D7C7A;
  --3: #C9C19F;
  --4: #F9F8F8;
  --5: #C0D6DF;
}

#BattleWindow {
  min-height: 100vh; /* Allows the footer to exist in the proper place */
  width: 100%;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  text-align: center;
  background-image: url('../images/forest01.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#LeftWindow {
  flex-grow: 2;
  min-width: 300px;
}
#CenterWindow {
  flex-grow: 1;
  min-width: 300px;
}
#RightWindow {
  flex-grow: 2;
  min-width: 300px;
}
